<h1>{{title}}</h1>

<a href="/">Return home to view all images</a>

<h2>Image</h2>
<img width="600px" src="https://{{accountName}}.blob.core.windows.net/{{containerName}}/{{image}}">

<h2>Result</h2>
<pre>{{result}}</pre>